body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.table td.success {
	background-color: #DFF0D8;
}

.table td.error {
	background-color: #F2DEDE;
}